extends layout

block content
	.container
		.blog-header
			h1.blog-title The Loki Blog
			p.lead.blog-description Developed by Lokesh Soni.
		.row
			.col-sm-8.blog-main
				if posts 
				each post, i in posts			
					.blog-post
						a.blog-headings(href='/posts/show/#{post._id}') "#{post.title}"
						p.blog-post-meta
							| Posted in #{post.category} on #{moment(post.date).format("DD MMM,YYYY")} by 
							a(href='#') #{post.author}
							!=truncatedText(post.body, 300) 
						a(href='/posts/show/#{post._id}') Read More
						hr
				else
					p.noposts There are no posts to display

				nav
					ul.pager
						li
							a(href='#') Previous
						li
							a(href='#') Next
			.col-sm-3.col-sm-offset-1.blog-sidebar
				.sidebar-module.sidebar-module-inset
					h4 About
					p
						| This blog is made for sample purpose only.
				.sidebar-module
					h4 Elsewhere
					ol.list-unstyled
						li
							a(href='https://github.com/lokesh-soni') GitHub
						li
							a(href='https://twitter.com/lokesh_soni_4') Twitter
						li
							a(href='https://fb.com/lokesh.soni.4') Facebook
