extends layout

block content
	.container
		.containers
			.show
				h1 #{post.title}
				p.blog-post-meta 
					| Posted in
					a(href='/categories/show/#{post.category}')  #{post.category}
					span  by 
					a(href='/posts/show/#{post.author_username}') #{post.author_name}
					on  #{moment(post.date).format("DD,MMM YYYY")}
				!=post.body
				br
				hr
				if post.comments
					h3 Comments
					each comment, i in post.comments
						.comment
							p.comment-name #{comment.name}
							p.comment-text #{comment.body}
					br
			if user
				form.comment-form(method='post', action='/posts/addcomment')
					input(name='postid', type='hidden', value='#{post._id}')
					input(name='name', type='hidden', value='#{user.name}')
					img(src='../images/like.png', width='50', height='50') 
					a(href='#')
						img(src='../images/share2.png', width='30', height='30')
					.form-group
						input.form-control(name='body', type= 'text', id='body', placeholder='Write comment...')
			else
				p.meta Please Login to Add comment